[submodule "lib/stable-nft"]
	path = contracts/lib/stable-nft
	url = https://github.com/zkBob/stable-nft.git
[submodule "lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
