[submodule "contracts/lib/bob-cdp-contracts"]
	path = contracts/lib/bob-cdp-contracts
	url = https://github.com/zkBob/bob-cdp-contracts.git
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
